.ͼp .cm-tooltip {
  border-bottom-color: rgb(69, 69, 69);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: rgb(69, 69, 69);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: rgb(69, 69, 69);
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: rgb(69, 69, 69);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-top-style: solid;
  border-top-width: 1px;
}

.ͼ1 .cm-completionIcon {
  width: auto;
  margin-top: 0.7px;
}

.ͼ1 .cm-completionDetail {
  font-size: 12px;
  float: right;
  font-style: normal;
  display: inline-flex;
  align-items: center;
}

.ͼ1 .cm-tooltip.cm-tooltip-autocomplete > ul {
  max-width: 500px;
  min-width: 360px;
}

.ͼ1 .cm-tooltip.cm-tooltip-autocomplete > ul > li {
  padding: 4px 5px;
  display: flex;
}

.cm-completionLabel {
  flex: 1;
}

.ͼ1 .cm-completionIcon-variable::after {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  color: #d59cff;
  content: '\f1b2';
  font-size: 13px;
}

.ͼ1 .cm-completionIcon-util::after {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  color: rgb(99, 230, 190);
  content: '\f0ad';
}

/* TODO: This is for tooltip find out if you can dynamically get/set specific theme clasess */
/* TODO: Final solution would be to just create your own theme and all necesary classes or fork and add it yourself */
/* This only works on TommorrowNightBlue */
.ͼmc .ͼlu-tooltip {
  background-color: #002451 !important;
  color: #ffffff !important;
  filter: brightness(85%);
}

/* ! Very important overrides for codemirror */
.cm-custom {
  font-size: 16px;
}

.cm-custom .cm-editor {
  min-height: 100%;
  font-family: inherit;
  padding: 30px;
}

.cm-custom .cm-line {
  padding: 0 2px;
}

.cm-custom .cm-gutterElement {
  padding: 0 13px 0 5px !important;
}
